<ng-container>
    <header>
        <section class="header">
            <div class="header__logo">
            </div>
                <div class="company__address">
                    <img class="company__img" src="../../assets/location.png" alt="location">
                    <p class="company__text">г. Москва,<br> Авиамоторная улица, 4А</p>
                </div>
                <div class="company__email">
                    <img class="company__img" src="../../assets/mail.png" alt="email">
                    <a class="company__link"><u>@maketstorent.ru</u></a>
                </div>
                <div class="company__phone">
                    <a class="company__text">+7 (495) 008-55-77</a>
                    <a class="company__link"><u>Заказать макетные запчасти</u></a>
                </div>
        </section>
        <!-- menu -->
        <nav class="menu">
            <a href="#materials" class="text">Материалы</a>
            <a href="#tools" class="text">Инструменты</a>
            <a href="#layout" class="text">Макетирование</a>
            <a href="#delivery" class="text">Доставка</a>
            <a class="text">О Нас</a>
            <a href="#order" class="text">Как заказать</a>
            <a href="#footer" class="text">Контакты</a>
        </nav>
        <!-- about -->
        <section class="about">
            <div class="about__us">
                <h1 class="about__us__heading">Все материалы для макетирования<br> по низкой цене и в наличии в Москве</h1>
                <p class="about__us__text">Немного о нас и наших преимуществах:</p>
                <div class="our__advantages">
                    <div class="first__advantage">
                        <div class="time">
                            <img class="time__img" src="../../assets/time.png" alt="time">
                            <p class="time__text">На рынке макетирования<br> более 5 лет</p>
                        </div>
                        <div class="question">
                            <img class="question__img" src="../../assets/question.png" alt="question">
                            <p  class="question__text">Профессиональный подбор<br> необходимого материала</p>
                        </div>
                        <div class="discounts">
                            <img class="discounts__img" src="../../assets/discount.png" alt="discounts">
                            <p class="discounts__text">Дополнительные скидки<br> студентам</p>
                        </div>
                    </div>
                    <div class="last__advantage">
                        <div class="certificate">
                            <img class="certificate__img" src="../../assets/certificate.png" alt="certificate">
                            <p class="certificate__text">Каждый материал имеет<br> сертификат качества</p>
                        </div>
                        <div class="delivery">
                            <img class="delivery__img" src="../../assets/dilivery.png" alt="delivery">
                            <p class="delivery__text">Доставка по Москве<br> в день обращения</p>
                        </div>
                        <div class="firstDelevery">
                            <img  class="firstDelevery__img" src="../../assets/firstD.png" alt="firstDelevery">
                            <p class="firstDelevery__text">Быстрая доставка<br> в регионы</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <form class="order__form" [formGroup]="formRequest">
                <h2 class="form__heading">
                    Закажите макетные материалы<br> прямо сейчас
                </h2>
                <input class="form__inp" placeholder="Ваше имя ***" formControlName="nameUser" required>
                <p class="error" *ngIf="formRequest.get('nameUser')?.getError('required') && formRequest.get('nameUser')?.touched">
                Пожалуйста введите ваше имя</p>
                <input class="form__inp" placeholder="Контактный телефон ***" formControlName="numberUser" required>
                <p class="error" *ngIf="formRequest.get('numberUser')?.getError('required') && formRequest.get('numberUser')?.touched">
                Пожалуйста введите ваше номер телефона</p>
                <input class="form__txt" placeholder="Какие материалы вам требуются?" formControlName="materialsUser" required>
                <button class="form__btn" (click)="sendRequest()" [class]="formRequest.valid ? 'form__btn--active' : 'form__btn'" [disabled]="formRequest.invalid">оставить заявку</button>
                <small class="small">Нажимая на кнопку оставить заявку<br> вы соглашаетесь с политикой обработка данных</small>
            </form>
        </section>
    </header>
</ng-container>