<ng-container>
    <main class="container">
        <section class="container__search">
            <h1 class="search__heading">
                Не нашли то что искали?
            </h1>
            <hr>
            <strong class="text">Оставьте заявку и мы подберем Вам необходимые для Вас материалы</strong>
            <form class="form__application" [formGroup]="formRequest" >
                <input class="form__inp" placeholder="Ваше имя ***" formControlName="nameUser" required>
                <input class="form__inp" placeholder="Контактный телефон ***" formControlName="numberUser" required>
                <input class="form__txt" placeholder="Какие материалы вам требуются?" formControlName="materialsUser" required>
                <button class="form__btn" (click)="sendRequest()">оставить заявку</button>
            </form>
            <small class="small">Нажимая на кнопку оставить заявку вы соглашаетесь с политикой обработка данных</small>
        </section>
    </main>
</ng-container>