<ng-container>
    <main class="order">
        <h1 class="order__heading">
            Как заказать?
        </h1>
        <hr>
        <section class="order__icon">
            <div class="order__block1">
                <div class="icon__one">
                    <img  src="../../../assets/icon11.png" alt="">
                </div>
                <p class="text">Позвонить/оставить запрос на обратный звонок</p>
                <small>Заполнить форму заказа</small>
            </div>
            <div class="order__block2">
                <div class="icon__two">
                    <img src="../../../assets/meneger.png" alt="">
                </div>
                <p class="text">Вам перезвонит наш менеджер и уточнит наличии товаров</p>
            </div>
            <div class="order__block3">
                <div class="icon__one">
                    <img src="../../../assets/car1.png" alt="">
                </div>
                <p class="text">Согласовать доставку или самовывоз</p>
                <small>Подробнее о доставк</small>
            </div>
            <div class="order__block4">
                <div class="icon__one">
                    <img src="../../../assets/box.png" alt="">
                </div>
                <p class="text">Получить товар и приятные эмоции</p>
            </div>
        </section>
    </main>
</ng-container>