.delivery{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    max-width: 1920px;
    align-items: center;
    box-sizing: border-box;
    @media (min-width:1520px) {
        padding-left: 370px;
        padding-right: 370px;
    }
    @media (min-width:1100px) {
        padding-left: 200px;
        padding-right: 200px;
    }
    @media (min-width:768px) {
        padding-left: 70px;
        padding-right: 70px;
    }
}
.delivery__heading{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    @media (min-width:320px) and (max-width:768px){
        font-size: 25px;
    }
}
hr{
    width: 31px;
    height: 2px;
    background-color: #05d0da;
    border: 1px solid #05d0da;
    margin-bottom: 99px;
    @media (min-width:320px) and (max-width:768px){
        margin-bottom: 20px;
    }
    @media (min-width:768px) and (max-width:1024px){
        margin-bottom: 40px;
    }
}
.delivery__block{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-bottom: 99px;
    width: 100%;
    @media (min-width:320px) and (max-width:768px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    @media (min-width:768px) and (max-width:900px) {
        margin-bottom: 40px;
    }
    @media (min-width:900px) and (max-width:1024px) {
        margin-bottom: 40px;
    }
    @media (min-width:1440px) {
        padding-left: 200px;
        padding-right: 200px;
    }
    @media (min-width:1024px) {
        padding-left: 150px;
        padding-right: 150px;
    }
    @media (min-width:1678px) {
        padding-left: 370px;
        padding-right: 370px;
    }
    @media (min-width:768px) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @media (min-width:320px) {
        padding: 0;
    }

}
.delivery__icon1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;
    @media (min-width:1440px) and (max-width:1910px) {
        margin-right: 50px;
    }
    @media (min-width:1024px) and (max-width:1440px){
        margin-right: 20px;
    }
    @media (min-width:320px) and (max-width:1024px){
        display: flex;
        margin: 0;
        margin-bottom: 20px;
    }
    img{
        width: 61px;
        height: 61px;
        margin-bottom: 40px;
        @media (min-width:320px) and (max-width:1024px){
            margin: 0;
            margin-bottom: 10px;
        }
    }
    .text{
        text-align: center;
        line-height: 22px;
        font-weight: 300;
        color: #000000;
        width: 204px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        white-space: nowrap;
        strong{
            font-size: 16px;
            font-weight: bold;
        }
        @media (min-width:768px) and (max-width:1024px) {
            font-size: 13px;
            width: 150px;
            white-space: wrap;
        }
        @media (min-width:768px) and (max-width:900px) {
            font-size: 10px;
            width: 150px;
            white-space: wrap;
        }
        @media (min-width:1024px) {
            font-size: 13px;
            width: 200px;
            white-space: wrap;
         }

    }
}
.delivery__icon2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;
    @media (min-width:1440px) and (max-width:1910px) {
        margin-right: 50px;
    }
    @media (min-width:1024px) and (max-width:1440px){
        margin-right: 20px;
    }
    @media (min-width:320px) and (max-width:1024px){
        display: flex;
        margin: 0;
        margin-bottom: 20px;
    }
    img{
        width: 61px;
        height: 61px;
        margin-bottom: 40px;
        @media (min-width:320px) and (max-width:1024px){
            margin: 0;
            margin-bottom: 10px;
        }
    }
    .text{
        text-align: center;
        line-height: 22px;
        font-weight: 300;
        color: #000000;
        width: 233px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        white-space: nowrap;
        strong{
            font-size: 16px;
            font-weight: bold;
        }
        @media (min-width:768px) and (max-width:1024px) {
            font-size: 13px;
            width: 150px;
            white-space: wrap;
        }
        @media (min-width:768px) and (max-width:900px) {
            font-size: 10px;
            width: 150px;
            white-space: wrap;
        }
        @media (min-width:1024px) {
            font-size: 13px;
            width: 200px;
            white-space: wrap;
         }
    }
}
.delivery__icon3{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;
    @media (min-width:1440px) and (max-width:1910px) {
        margin-right: 50px;
    }
    @media (min-width:1024px) and (max-width:1440px){
        margin-right: 20px;
    }
    @media (min-width:320px) and (max-width:1024px){
        display: flex;
        margin: 0;
        margin-bottom: 20px;
    }
    img{
        width: 61px;
        height: 39px;
        margin-top: 16px;
        margin-bottom: 35px;
        @media (min-width:320px) and (max-width:1024px){
            margin: 0;
            margin-bottom: 10px;
            margin-top: 15px;
        }
        @media (min-width:1024px) {
            margin: 0;
            margin-top: 15px;
            margin-bottom: 45px;
        }

    }
    .text{
        text-align: center;
        line-height: 22px;
        font-weight: 300;
        color: #000000;
        width: 250px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        white-space: nowrap;
        strong{
            font-size: 16px;
            font-weight: bold;
        }
        @media (min-width:768px) and (max-width:1024px) {
            font-size: 13px;
            width: 150px;
            white-space: wrap;
        }
        @media (min-width:768px) and (max-width:900px) {
            font-size: 10px;
            width: 150px;
            white-space: wrap;
        }
        @media (min-width:1024px) {
           font-size: 13px;
           width: 200px;
           white-space: wrap;
        }
    }
}
.delivery__icon4{
    display: flex;
    align-items: center;
    flex-direction: column;

    img{
        width: 62px;
        height: 58px;
        margin-bottom: 30px;
        @media (min-width:320px) and (max-width:1024px){
            margin: 0;
            margin-bottom: 10px;
        }
    }
    .text{
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        color: #000000;
        width: 174px;
        font-family: 'Roboto', sans-serif;
        white-space: nowrap;
        strong{
            font-size: 16px;
            font-weight: bold;
        }
        @media (min-width:768px) and (max-width:1024px) {
            font-size: 13px;
            width: 150px;
            white-space: wrap;
        }
        @media (min-width:768px) and (max-width:900px) {
            font-size: 10px;
            width: 150px;
            white-space: wrap;
        }
        @media (min-width:1024px) {
            font-size: 13px;
            width: 200px;
            white-space: wrap;
         }
    }
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    @media (min-width:320px) and (max-width:600px){
        flex-direction: column;
        align-items: center;
    }
}
.social__mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 145px;
    @media (min-width:600px) and (max-width:1024px){
        margin-right: 40px;
    }
    @media (min-width:320px) and (max-width:600px){
        margin: 0;
    }
    img{
        width: 30px;
        height: 20px;
        margin-bottom: 39px;
        @media (min-width:320px) and (max-width:600px){
            margin-bottom: 10px;
        }
    }
    a{
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        text-decoration: underline;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
    }
}
.social__phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 145px;
    @media (min-width:320px) and (max-width:1024px){
        margin-right: 40px;
    }
    @media (min-width:320px) and (max-width:600px){
        margin: 0;
    }
    img{
        width: 30px;
        height: 30px;
        margin-bottom: 34px;
        @media (min-width:320px) and (max-width:600px){
            margin-bottom: 10px;
        }
    }
    a{
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        text-decoration: underline;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
        
    }
}
.social__oclock{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 30px;
        height: 30px;
        margin-bottom: 34px;
        @media (min-width:320px) and (max-width:600px){
            margin-bottom: 10px;
        }
    }
    a{
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        text-decoration: underline;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;

    }
}