<ng-container>
    <main class="delivery">
        <h1 class="delivery__heading">
            Доставка
        </h1>
        <hr>
        <section class="delivery__block">
            <div class="delivery__icon1">
                <img src="../../../assets/city.png" alt="city">
                <p class="text">Доставка в пределах МКАД<br> от 3000 руб.<strong>бесплатно</strong></p>
            </div>
            <div class="delivery__icon2">
                <img src="../../../assets/city.png" alt="city">
                <p class="text">Доставка <strong>300 руб</strong>. при заказе<br> менее 3000 руб</p>
            </div>
            <div class="delivery__icon3">
                <img src="../../../assets/car3.png" alt="city">
                <p class="text"><strong>Доставка в регионы</strong> любой<br> удобно транспортной компаний</p>
            </div>
            <div class="delivery__icon4">
                <img src="../../../assets/maps.png" alt="city">
                <p class="text"><strong>Самовывоз:</strong><br>Автомоторная 4а стр 21 </p>
            </div>
        </section>
        <section class="social">
            <div class="social__mail">
                <img src="../../../assets/mail1.png" alt="mail">
                <a href="#">storent@maketstorent.ru</a>
            </div>
            <div class="social__phone">
                <img src="../../../assets/phone.png" alt="phone">
                <a href="#">+7 (495) 008-55-77</a>
            </div>
            <div class="social__oclock">
                <img src="../../../assets/oclock.png" alt="oclock">
                <a href="#">пн-вс с 10-00 до 22-00</a>
            </div>
        </section>
    </main>
</ng-container>