<ng-container>
<main class="materials">
    <h1 class="materials__heading">Материалы для макетирования</h1>
    <div class="materials__bulder">
        <img src="../../../assets/builderOne.png" alt="bulder" class="bulderOne">
    </div>
    <hr>
    <section class="materials__block">
        <div class="block__prev">
            <img class="prev__img" src="../../../assets/prev.png" alt="prev">
        </div>
        <div class="block__first__mobile" ng-repeat="(i, slide) in slides">
            <img class="block__first__img" src="../../../assets/firstMat.png" alt="materials">

            <div class="block__first__ellips">
                <img class="ellips_1" src="../../../assets/ellips_1.png" alt="elips">
                <img class="ellips_2"  src="../../../assets/elips_2.png" alt="elips">
                <img src="../../../assets/elips_2.png" alt="elips">
            </div>
            <p class="text">Пенопласт</p>
            <strong class="text__strong">от 500 руб</strong>
            <button class="btn__sale">
                <img class="btn__img" src="../../../assets/sale.png" alt="sale">
                <p class="btn__text">купить</p>
            </button>
        </div>
        <div class="block__first" ng-repeat="(i, slide) in slides">
            <img class="block__first__img" src="../../../assets/firstMat.png" alt="materials">

            <div class="block__first__ellips">
                <img class="ellips_1" src="../../../assets/ellips_1.png" alt="elips">
                <img class="ellips_2"  src="../../../assets/elips_2.png" alt="elips">
                <img src="../../../assets/elips_2.png" alt="elips">
            </div>
            <p class="text">Пенопласт</p>
            <strong class="text__strong">от 500 руб</strong>
            <button class="btn__sale">
                <img class="btn__img" src="../../../assets/sale.png" alt="sale">
                <p class="btn__text">купить</p>
            </button>
        </div>

        <div class="block__first">
            <img class="block__first__img" src="../../../assets/secondMat.png" alt="materials">
            <div class="block__first__ellips">
                <img class="ellips_1" src="../../../assets/ellips_1.png" alt="elips">
                <img class="ellips_2"  src="../../../assets/elips_2.png" alt="elips">
                <img src="../../../assets/elips_2.png" alt="elips">
            </div>
            <p class="text">Пенокартон</p>
            <strong class="text__strong">от 100 руб</strong>
            <button class="btn__sale">
                <img class="btn__img" src="../../../assets/sale.png" alt="sale">
                <p class="btn__text">купить</p>
            </button>
        </div>

        <div class="block__first">
            <img class="block__first__img" src="../../../assets/thridMat.png" alt="materials">
            <div class="block__first__ellips">
                <img class="ellips_1" src="../../../assets/ellips_1.png" alt="elips">
                <img class="ellips_2"  src="../../../assets/elips_2.png" alt="elips">
                <img src="../../../assets/elips_2.png" alt="elips">
            </div>
            <p class="text">ПВХ</p>
            <strong class="text__strong">от 350 руб</strong>
            <button class="btn__sale">
                <img class="btn__img" src="../../../assets/sale.png" alt="sale">
                <p class="btn__text">купить</p>
            </button>
        </div>

        <div class="block__first">
            <img class="block__first__img" src="../../../assets/fourMat.png" alt="materials">
            <div class="block__first__ellips">
                <img class="ellips_1" src="../../../assets/ellips_1.png" alt="elips">
                <img class="ellips_2"  src="../../../assets/elips_2.png" alt="elips">
                <img src="../../../assets/elips_2.png" alt="elips">
            </div>
            <p class="text">Полистирол</p>
            <strong class="text__strong">от 400 руб</strong>
            <button class="btn__sale">
                <img class="btn__img" src="../../../assets/sale.png" alt="sale">
                <p class="btn__text">купить</p>
            </button>
        </div>
        <div class="block__next">
            <img class="next__img" src="../../../assets/next.png" alt="next">
        </div>
    </section>
</main>
</ng-container>